<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classino - Class Manager Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClassManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header class="header" id="header">
        <nav class="navbar container">
            <a asp-page="Index" class="brand" style="color:white">Classino</a>
            <div class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
            <div class="menu" id="menu">
                <ul class="menu-inner">
                    <li class="menu-item"><a asp-page="Index" class="menu-link" style="color:white">Home</a></li>
                    <li class="menu-item"><a asp-page="AddClass" class="menu-link" style="color:white">Add Class</a></li>
                    <li class="menu-item"><a asp-page="AddStudent" class="menu-link" style="color:white">Add Student</a></li>
                    <li class="menu-item"><a asp-page="AddToClass" class="menu-link" style="color:white">Add To Class</a></li>
                </ul>
            </div>
            <a asp-page="SelectStudent" class="menu-block" style="color:black">Report Card</a>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>